.header {
  display: flex;
  align-items: center;
  background-color: rgb(239, 230, 201);
  width: 90%;
  height: 270px;
  margin: 50px;
  &_heading {
    font-size: 3rem;
    font-weight: bold;
    margin: 150px;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 700px;
  align-self: center;
}

.addBtn {
  border-radius: 8px;
  background-color: rgb(4, 80, 173);
  color: white;
  font-size: 1.2rem;
  padding: 5px 50px;
}

.main {
  display: flex;
  flex-direction: column;
}
